.profile-mod {
  display: block;
  width: 100%;
  position: relative;
  justify-content: center;
  padding: 2rem 2rem 2rem 4rem;
}

.profile-form {
  width: 70%;
  position: relative;
  left: 28%;
  display: block;
  margin-top: 2%;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: var(--mainWhite);
  border-radius: 5px;
}
